[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true

[*.{h,cmake,cpp}]
indent_style = space
indent_size = 4

[*.{json,json.example}]
indent_style = space
indent_size = 2

[*.{frag,vert}]
indent_style = space
indent_size = 4

[*.ts]
indent_style = space
indent_size = 4
